body {
	background-color: white;
	text-align: center;
	width: 70em;
 	box-shadow:         inset 0 0 10px #000000;
  	margin-left : auto ;
	margin-right : auto ;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 1.5em;
	padding-bottom: 3em;
}

#topimg{
	text-align: center;

    margin-top: -1em;
    
    
  

}

#toppanel{
	background-color: #5A5A5A ;
	padding: 2px;
	text-align: center;
	border: 2px solid black;
	

}

a{
	text-decoration: none;
}

p{
	text-align: left;
	font-family: Arial, sans-serif;
}

.info{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	margin-top:2em;
	margin-bottom: 1em;
	width:55em;
	background-color: white;
	
	border-bottom: 2px solid black;
	
}

.execpic{
	margin-top: 0em;
	vertical-align:middle;
	padding:5px;
	border-radius: 1em;
	border:3px solid black;
	background-color: black;
	width:10em;
	height:9.5em;
	vertical-align:text-top;
	float:left;

}

.execinfo{
	text-align: left;
	margin-top: 0em;
	margin-left: 15em;
	padding: 1px;
	width:20em;
	height:13em;



}


#bottompanel{
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	margin-top:1em;
	width:55em;
	padding: 5px;


	
}

#faceimg{
	text-align: right;



}

table{
	font-family: Arial, sans-serif;
	font-size: 1em;
	margin-bottom: 2em;
}



.button{
	padding:5px;
	width: 4em;
	font-size: 2em;
	font-family: Times ,sans-serif;
	border:3px solid black;
	border-radius: 3em;
	margin:5px;
	display:inline-block;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #282828;
	color:white;
}

.button:hover{
	background-color:yellow;
	color:black;
}